@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

*{
  font-family: 'Indie Flower', cursive;
  margin: 0;
}

body{
  margin: 0;
}

.app-container{
  width: 60%;
  height: 100vh;
  margin: 0 auto;
  background:#feea74;
}

.title {
  width: 40%;
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}



.title .title-input{
  padding: 5px;
  font-size: 24px;
  text-align: center;
}

.todo-list{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.todo-item{
  background: white;
  width: 30%;
  padding: 1%;
  cursor: pointer;
  margin: 10px 0;
}

.todo-item-completed{
  text-decoration: line-through;
}

.todo-form{
  width: 100%;
  padding: 20px;
}

.todo-form input{
  font-size: 24px;
  width: 90%;
  margin: 20px auto;
}